<%= form_with model: [patch, chat, message] do |f| %>
  <%= hidden_field_tag :return_to, params[:return_to] %>
  <%= f.text_field :content,
        placeholder: "Ask a question...",
        class: "form-control mb-2",
        required: true,
        autocomplete: "off" %>

  <div class="d-flex justify-content-end mb-2 me-1">
    <%= f.submit "Ask Chat",
        class: "btn btn-primary btn-sm",
        style: "color: #fff;" %>
  </div>
<% end %>
