<% if message.role == "user" %>
  <div class="chatbot__message chatbot__message--user">
    <div class="chatbot__bubble">
      <%= raw(render_markdown(message.content)) %>
    </div>
  </div>
<% else %>
  <div class="chatbot__message chatbot__message--assistant">
    <div class="chatbot__bubble">
      <%= raw(render_markdown(message.content)) %>
    </div>
  </div>
<% end %>
