<div class="events-index">
  <div class="events-index__header container">
    <h1>Upcoming Events</h1>
  </div>

  <div class="container">
    <div class="events-index__grid">
      <% @events.each do |event| %>
        <%= link_to event_path(event), class: "events-index__card" do %>
          <p class="events-index__game"><%= event.game.name %></p>
          <h2 class="events-index__title"><%= event.title %></h2>
          <p class="events-index__date">
            <i class="fa fa-calendar"></i>
            <%= event.start_date.strftime("%-d %b %Y") %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
