<div class="container py-4">
  <h1 class="mb-4">Upcoming Events</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @events.each do |event| %>
      <div class="col">
        <%= link_to event_path(event), class: "text-decoration-none" do %>
          <div class="card h-100">
            <div class="card-body">
              <p class="text-muted small mb-1"><%= event.game.name %></p>
              <h5 class="card-title"><%= event.title %></h5>
              <p class="card-text text-muted small">
                <i class="fa fa-calendar me-1"></i>
                <%= event.start_date.strftime("%-d %b %Y") %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
