<h1>GameBrief</h1>

<% @games.each do |game| %>
  <%= link_to game_path(game) do %>
    <% if game.cover_image.present? %>
      <%= image_tag game.cover_image, alt: game.name %>
    <% end %>
    <p><%= game.name %></p>
  <% end %>
<% end %>
