<div class="patches-index">
  <div class="patches-index__header container">
    <%= link_to "← #{@game.name}", game_path(@game), style: "font-size:0.82rem; color: #7a7a9a; text-decoration:none;" %>
    <h1>Patches</h1>
  </div>

  <div class="container">
    <% if @patches.any? %>
      <% @patches.each do |patch| %>
        <%= link_to patch_path(patch), class: "patch-card" do %>
          <span class="patch-card__arrow"><i class="fa fa-chevron-right"></i></span>
          <div class="patch-card__title"><%= patch.title %></div>
          <p class="patch-card__excerpt"><%= patch.content.truncate(120) %></p>
        <% end %>
      <% end %>
    <% else %>
      <p style="color: #7a7a9a; font-style: italic;">No patches yet for this game.</p>
    <% end %>
  </div>
</div>
